@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #F2F2F2;
  
}
.rbg{
  border-radius: 192px 63px 63px 63px;
background: #009B47;
}

.lbg{
  border-radius: 151px;
  background: rgba(53, 51, 51, 0.10);
}

.navbg{
  background: #f2f2f2d7;
box-shadow: 13px 22px 33px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(8px);
}